
      <caption><b>Delimiter</b></caption>
      <thead>
      
      </thead>
    
        <!-- Add Code for the delimiter-->
        <tbody *ngFor="let name in names">
          <tr>
         <td>{{name}}</td>

          </tr>
        
        
        
        <div>
        
        
        </div>
        <!-- Tokenizer will be ran twice for each word -->
        <!--  For the first word delimiter is null for second delimiter is whatever the delimiter value is -->

        
      



        </tbody>
        
        
       
        
