<!doctype html>
<html lang='en' ng-app="myApp">
  <head>
   <title>Book Shopping Cart</title>

  <script src="../js/angular182.js"></script>
  <script src="hw3_part3Controller.js"></script>
  <link rel="stylesheet" href="../css/hw3.css">
  </head>

  <body ng-controller="CartControler" ng-init="updateTotal()">

    <table>
      <caption><b>My Books</b></caption>
      <thead>
        <tr>
            <th>Title</th>
            <th>Qty</th>
            <th>UnitPrice</th>
            <th>$UnitPrice</th>
            <th>Line Total</th>
            <th>Total = {{updateTotal() | currency}}</th>
        </tr>
      </thead>
    
        <!-- Add Code for the table rows-->
        <tbody ng-repeat = "book in books. let p = index">
        
           <tr>
           
           <td><input ng-model = "book.title"></td>
             
           <td><input ng-model = "book.qty" size = "3"></td>
           <td>$<input ng-model = "book.price"></td>
           <td>{{book.price | currency}}</td>
           <td>{{book.price * book.qty | currency}}</td>
          
           
           <td><button ng-click ="removeBook($index)">Remove</button></td>
           
          
           
        
        </tbody>
        
       

        

        <tr><th colspan="3"><button ng-click="addBook()">
                    New
                </button></th>
                <th><button ng-click = "undo()">Undo</button></th>
                <th><button ng-click = "redo()">Redo</button></th>
                <th colspan="3"><button ng-click="saveBooks()">
                    Save
                </button></th>
               
                
        </tr>
        
      </tbody>
    </table>
  </body>
</html>


